body {
  background: #000;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: auto;
}

.global_button {
  border: 1px solid white;
  border-radius: 50px;
}

.global_button a {
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ff1ca9), color-stop(80%, #005bff));
  background: linear-gradient(90deg, #ff1ca9 23%, #005bff 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 0 15px;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.roadmap .network {
  padding: 0 50px;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logo-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav .logo-section img {
  padding: 15px;
}

nav .nav-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .nav-section .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

nav .nav-section .nav-list .nav-items {
  position: relative;
}

nav .nav-section .nav-list .nav-items .nav-link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
}

nav .nav-section .nav-list .nav-items .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  background: white;
  height: 1px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

nav .nav-section .nav-list .nav-items .nav-link:hover::after {
  width: 100%;
  left: 0;
}

nav .nav-section .nav-list .active {
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ff1ca9), color-stop(80%, #005bff));
  background: linear-gradient(90deg, #ff1ca9 23%, #005bff 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

nav .nav-section .dropdown-trigger:hover .sub-menu {
  display: block;
}

nav .nav-section .dropdown-trigger .sub-menu {
  position: absolute;
  background: #000;
  width: 400px;
  display: none;
}

nav .nav-section .dropdown-trigger .sub-menu ul {
  list-style-type: none;
  padding: 0;
}

nav .nav-section .dropdown-trigger .sub-menu ul .sub-items {
  border-bottom: 1px solid #fff;
}

nav .nav-section .dropdown-trigger .sub-menu ul .sub-items a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

nav .nav-section .dropdown-trigger .sub-menu ul .sub-items a:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ff1ca9), color-stop(80%, #005bff));
  background: linear-gradient(90deg, #ff1ca9 23%, #005bff 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contact-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-section button {
  background: white;
  border-radius: 50px;
}

.contact-section button a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

.main-section {
  background-image: url(../img/indexPage/david.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: right;
  padding: 0 15px;
}

.main-section .main-title h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 100px;
  color: white;
  width: 70%;
}

.main-section .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.main-section .subtitle span {
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ff1ca9), color-stop(80%, #005bff));
  background: linear-gradient(90deg, #ff1ca9 23%, #005bff 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 52px;
}

.main-section .quote {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #ffffff;
  width: 60%;
  padding-top: 15px;
  margin-bottom: 5%;
}

.main-section .quote p {
  font-weight: bold;
  font-size: 25px;
  line-height: 39px;
}

.main-section .quote span {
  font-weight: normal;
  font-size: 20px;
  float: right;
}
/*# sourceMappingURL=style.css.map */